/*Reseteamos margen y padding */

* {
    margin: 0;
    padding: 0;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.upperZone {
  background-color: black;
  height: 120px;
  display: flex;
  width: 30px;
}

.trafficLight {
  height: 600px;
  width: 200px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.redLight {
  background-color: red;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin: 5px;
}

.yellowLight {
  background-color: yellow;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin: 40px;
}

.greenLight {
  background-color: green;
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

/*
.yellowLight {
    background-color: yellow;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 5px;
  }

  .redLight {
    background-color: red;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 5px;
  }

  .trafficLightBody {
    background-color: black;
    width: 110px;
    height: 300px;
    padding: 5px;
  }

  .upperTrafficLight {
    display: flex;
    justify-content: center;
    top:20px;
    align-items: center;
  }

  #app {
    display: flex;
    align-items: center;


  }
  */